<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail concour</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="logo">Digital Prepa</a>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}#home">Acceuil</a></li>
            <li><a href="{% url 'home' %}#services">Collection</a></li>
            <li><a href="{% url 'home' %}#contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <section class="concours-detail">
        <h2>{{ concours.nom|default:'Nom inconnu' }} - {{ concours.annee|default:'Année inconnue' }} - Épreuve {{ concours.numepreuve|default:'Non spécifiée' }}</h2>

        <div class="concours-content">
            <h3>Épreuve :</h3>

            {% if concours.epreuve %}
                <iframe src="{{ concours.epreuve.url }}" width="100%" height="400px"></iframe>
                <div class="download-buttons">
                    <a href="{{ concours.epreuve.url }}" class="btn" download>Télécharger l'Épreuve</a>
                </div>
            {% else %}
                <p>Aucune épreuve disponible.</p>
            {% endif %}

            <h3>Corrigé :</h3>

            {% if concours.corrige %}
                <iframe src="{{ concours.corrige.url }}" width="100%" height="400px"></iframe>
                <div class="download-buttons">
                    <a href="{{ concours.corrige.url }}" class="btn" download>Télécharger le Corrigé</a>
                </div>
            {% else %}
                <p>Aucun corrigé disponible.</p>
            {% endif %}
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2024 Digital prepa. All Rights Reserved.</p>
    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
